# Python
venv/
__pycache__/
*.pyc
.env
revela_backend/instance/

# Node
node_modules/
dist/

#mobile
/revela_mobile/


# General
.DS_Store
Thumbs.db

# Mobile
.vscode/

# Analytics and Colab Exports
revela_backend/colab_export/